[submodule "FortAwesome"]
	path = FortAwesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "FontAwesome"]
	path = FontAwesome
	url = https://github.com/FortAwesome/Font-Awesome.git
